In [14]:
import pandas as pd

In [15]:
columns = ['region_fuel','val']
data = [
    ('A prov', 100),
    ('coal',50),
    ('oil',50),
    ('B prov', 100),
    ('coal',20),
    ('oil',80)
]

shit_df1 = pd.DataFrame(data=data,columns=columns)


data = [
    ('A prov', 10),
    ('coal',5),
    ('oil',5),
    ('B prov', 10),
    ('coal',2),
    ('oil',8)
]

shit_df2 = pd.DataFrame(data=data,columns=columns)

In [16]:
shit_df1['region'] = shit_df1.region_fuel.where(shit_df1.region_fuel.str.contains('prov'),None).ffill()
shit_df1

  region_fuel  val  region
0      A prov  100  A prov
1        coal   50  A prov
2         oil   50  A prov
3      B prov  100  B prov
4        coal   20  B prov
5         oil   80  B prov

In [21]:
shit_df1 = shit_df1[~shit_df1.region_fuel.str.contains('prov')]
shit_df1 = shit_df1.rename({'region_fuel':'fuel'},axis=1)
shit_df1

   fuel  val  region
1  coal   50  A prov
2   oil   50  A prov
4  coal   20  B prov
5   oil   80  B prov

In [19]:
shit_df2['region'] = shit_df2.region_fuel.where(shit_df2.region_fuel.str.contains('prov'),None).ffill()
shit_df2

  region_fuel  val  region
0      A prov   10  A prov
1        coal    5  A prov
2         oil    5  A prov
3      B prov   10  B prov
4        coal    2  B prov
5         oil    8  B prov

In [22]:
shit_df2 = shit_df2[~shit_df2.region_fuel.str.contains('prov')]
shit_df2 = shit_df2.rename({'region_fuel':'fuel'},axis=1)
shit_df2

   fuel  val  region
1  coal    5  A prov
2   oil    5  A prov
4  coal    2  B prov
5   oil    8  B prov

In [24]:
pd.merge(shit_df1,shit_df2,left_on=['fuel','region'],right_on=['fuel','region'])

   fuel  val_x  region  val_y
0  coal     50  A prov      5
1   oil     50  A prov      5
2  coal     20  B prov      2
3   oil     80  B prov      8